body {

    background: black;
    color: rgb(255, 0, 200);
    margin: 0;
}

header {
    font-size: 50px;
    border-bottom: solid 3px purple;
    margin: 30;
    margin-left: 3;
    margin-right: 80%;
    font-family: "Londrina Sketch", sans-serif;
}

p{
    color: orangered;
    font-family: "Ruge Boogie", cursive;

}

h1{
    color: orangered;
    font-family: "Bebas Neue", serif;

}

.chamada{
    display: flex;
    background-color: midnightblue;
    padding-bottom: 80px;
    padding-top: 70px;
    margin-top: 20px;
    justify-content: center;
}

.chamada-texto {
    margin-right: 8%;


}

img {
    width: 150px;
    height: 200px;
    opacity: o.6;
}
.outrasRecomendacao {
    justify-content: center;
    padding: 50px;

}

.h2 {
    text-align: center;
    font-size: 20px;
    color: aqua;

}

.filme {
    overflow: auto;
    gap: 15px;
    display: flex;


}


img:hover {
opacity: 1.0;
border: solid 2px white;


}
