body {

    background: black;
    color: rgb(255, 0, 200);
}

header {
    font-size: 50px;
    border-bottom: solid 3px purple;
    margin: 30;
    margin-left: 3;
    margin-right: 80%;
}

p{
    color: orangered;


}

h1{
    color: orangered;


}

section{
    display: flex;
    background-color: midnightblue;

}
